.header-container{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #FFFFFF;
}

.backgroundHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  background: #FCDC36;
  box-sizing: border-box;
  padding: 0 21px;

}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;

}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px ;

}

.icon{
width: 42.6px;
height: 39.28px;
}

.recipes-app{
  margin-top: 6px;
  width: 109.13px;
  height: 16px;
}

.search-btn {
  background-image: url(/src/images/icone_pesquisar.svg);
  background-size: cover;
  background-color: #FCDC36;
  border: none;
  width: 26.85px;
  height: 26.85px;
}

.perfil-btn{
  background-image: url(/src/images/icone_perfil.svg);
  background-size: cover;
  background-color: #FCDC36;
  border: none;
  width: 26.85px;
  height: 26.85px;
}

.meals-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.meals {
  margin-top: 31px;
  margin-bottom: 24px;
  height: 80px;
 
}

.categories {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 450px;
  height: 59.71px;
}

.all-btn {
  background-image: url(/src/images/All.svg);
  background-size: cover;
  background-color: #FFFFFF;
  border: none;
  width: 45.28px;
  height: 59.71px;
}

.beef-btn{
  background-image: url(/src/images/beef.svg);
  background-size: cover;
  background-color: #FFFFFF;
  border: none;
  width: 45.28px;
  height: 59.71px;
}

.goat-btn{
  background-image: url(/src/images/goat.svg);
  background-size: cover;
  background-color: #FFFFFF;
  border: none;
  width: 45.28px;
  height: 59.71px;
}

.chicken-btn{
  background-image: url(/src/images/chicken.svg);
  background-size: cover;
  background-color: #FFFFFF;
  border: none;
  width: 45.28px;
  height: 59.71px;
}

.breakfast-btn{
  background-image: url(/src/images/breakfast.svg);
  background-size: cover;
  background-color: #FFFFFF;
  border: none;
  width: 53.43px;
  height: 59.71px;

}

.desert-btn{
  background-image: url(/src/images/dessert.svg);
  background-size: cover;
  background-color: #FFFFFF;
  border: none;
  width: 45.28px;
  height: 59.71px;
}