.meals-or-drinks-wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}

.meals-or-drinks {
  height: 80px;
  margin-bottom: 24px;
  margin-top: 31px;
}

.categories {
  display: flex;
  height: 59.71px;
  justify-content: center;
  max-width: 450px;
  width: 100%;
}

.all-meal-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/All.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Beef-btn{
  background-color: #FFFFFF;
  background-image: url(/src/images/beef.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Goat-btn{
  background-color: #FFFFFF;
  background-image: url(/src/images/goat.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Chicken-btn{
  background-color: #FFFFFF;
  background-image: url(/src/images/chicken.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Breakfast-btn{
  background-color: #FFFFFF;
  background-image: url(/src/images/breakfast.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 53.43px;
}

.Dessert-btn{
  background-color: #FFFFFF;
  background-image: url(/src/images/dessert.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.all-drink-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/All_drink.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Ordinary.Drink-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/Ordinary_drink.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Cocktail-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/cocktail.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Shake-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/shake.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Other.Unknown-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/other.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}

.Cocoa-btn {
  background-color: #FFFFFF;
  background-image: url(/src/images/cocoa.svg);
  background-size: cover;
  border: none;
  height: 59.71px;
  width: 45.28px;
}