body {
  background-color: #ffffff;
}
#login-content {
  align-items: center;
  background-image: url(../images/Background.png);
  display: flex;
  flex-direction: column;
  height: 57vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#logo {
  margin-top: 40px;
}

.tomate-wrapper {
  width: 100%;
}

#tomates {
  filter: drop-shadow(0px 7px 15px rgba(68, 73, 85, 0.25));
  height: 279px;  
}

.login-title {
  color: #41197F;
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  height: 21px;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin-bottom: 19px;
  text-align: center;
  text-transform: uppercase;
  width: 182px;
}

.inputs-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 9px;
  width: 100%;
}

.login-input {
  all:unset;
  border-radius: 5px;
  border: 0.5px solid #41197F;
  box-sizing: border-box;
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 40px;
  line-height: 14px;
  text-indent: 10px;
  width: 75%;
}

.login-input::placeholder {
  color: #41197F;
}

.login-btn {
  background: #FCC436;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 14px;
  min-height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
}

.login-btn  button {
  border: none;
}