body {
  background-color: #ffffff;
}
#login-content {
  background-image: url(../images/Background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 57vh;
  left: 0px;
  top: 0px;
}

#logo {
  margin-top: 40px;
}

.tomate-wrapper {
  width: 100%;
}

#tomates {
  height: 279px;  
  filter: drop-shadow(0px 7px 15px rgba(68, 73, 85, 0.25));
}

.login-title {
  width: 182px;
  height: 21px;

  font-family: 'Epilogue', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.165em;
  text-transform: uppercase;

  color: #41197F;

  margin-bottom: 19px;
}

.inputs-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 9px;
  margin-bottom: 9px;
}

.login-input {
  all:unset;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  width: 75%;
  height: 40px;
  text-indent: 10px;

  border: 0.5px solid #41197F;
  border-radius: 5px;
}

.login-input::placeholder {
  color: #41197F;
}

#login-btn {
  width: 75%;
  min-height: 40px;
  background: #FCC436;
  border-radius: 5px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
