.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  margin-top: 20px;
  width: 100%;
  gap: 10px;
  height: 522.21px;
  padding-bottom: 60px;
  padding-top: 250px;
}

.recipes-content {
  box-sizing: border-box;


  background: #FFFFFF;
  border: 0.517989px solid #B1B1B1;
  border-radius: 5px;
  max-height: 166px;
}

.recipes-content img {
  width: 100%;
  object-fit: cover;
  max-height: 140px;
}

.recipes-content span {
  margin-left: 20px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  
  color: #1A1B1C;
  
}