.recipes-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  overflow: auto;
  padding-bottom: 60px;
}

.recipes-content {
  background: #FFFFFF;
  border-radius: 5px;
  border: 0.517989px solid #B1B1B1;
  box-sizing: border-box;
  height: 180px;
}

.recipes-content img {
  max-height: 140px;
  object-fit: cover;
  width: 100%;
}

.recipe-text {
  padding-top: 8px;
  display: flex;  
  align-items: center;
  justify-content: start;
}

.recipes-content span {
  color: #1A1B1C;
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin-left: 20px;
}